*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

:root {
   /* Adding color variables */
   --brand-color: #00ffff;
   --text-strong: #cef5f5;
   --text-weak: #8bcccc;
   --stroke-strong: #58a3a3;
   --stroke-weak: #2c7a7a;
   --background: #022929;
   --fill: #105252;
   --brand-background-text: #121212;

   /* Adding spacing variables */
   --spacing-1: 0.8rem;
   --spacing-2: 1.6rem;
   --spacing-3: 2.4rem;
   --spacing-4: 3.2rem;

   /* Font family */
   --font-family: "Lexend", sans-serif;

   /* Heading 1 */
   --heading-1-weight: bold;
   --heading-1-size: 4.8rem;
   --heading-1-line-height: 1;

   /* Heading 2 */
   --heading-2-weight: bold;
   --heading-2-size: 3.6rem;
   --heading-2-line-height: 1;

   /* Heading 3 */
   --heading-3-weight: bold;
   --heading-3-size: 2.7rem;
   --heading-3-line-height: 1.2;

   /* Body text */
   --body-weight: normal;
   --body-size: 2rem;
   --body-line-height: 1.4;

   /* Small text */
   --small-weight: normal;
   --small-size: 1.5rem;
   --small-line-height: 1.6;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
   /* font-family: "Lexend"; */
   font-family: var(--font-family);
   font-weight: var(--body-weight);
   font-size: var(--body-size);
   line-height: var(--body-line-height);
   background-color: var(--background);
   color: var(--text-strong);
   width: 600px;
   margin: 0 auto;
   /* padding: var(--spacing-2) var(--spacing-1); */
}

body > *:not(:first-child) {
   margin-top: var(--spacing-4);
}

h1 {
   font-family: var(--font-family);
   font-weight: var(--heading-1-weight);
   font-size: var(--heading-1-size);
   line-height: var(--heading-1-line-height);
}

h2 {
   font-family: var(--font-family);
   font-weight: var(--heading-2-weight);
   font-size: var(--heading-2-size);
   line-height: var(--heading-2-line-height);
}

h3 {
   font-family: var(--font-family);
   font-weight: var(--heading-3-weight);
   font-size: var(--heading-3-size);
   line-height: var(--heading-3-line-height);
}

img {
   max-width: 100%;
}

.link-button {
   display: inline-block;
   padding: 10px 20px;
   background-color: var(--brand-color); /* Button background color */
   color: var(--brand-background-text); /* Text color */
   text-decoration: none; /* Remove underline from link */
   text-align: center;
   border-radius: var(--spacing-2); /* Round the corners of the button */
   transition: background-color 0.3s ease; /* Add transition effect on hover */
   width: fit-content;
   margin: 0 auto;
}

.link-button:hover {
   background-color: var(--fill); /* Darker background on hover */
}

a {
   color: inherit;
}

/* Hamburger menu */
.navbar {
   display: flex;
   justify-content: end;
   align-items: center;
   background-color: var(--background);
   position: relative;
}

.navbar__menu-list {
   display: none; /* Hidden by default */
   list-style: none;
   left: 0;
   width: 100%; /* Full width for the menu */
   background-color: var(--fill);
   border-radius: 5px;
   flex-direction: column;
}

.navbar__menu-list__item:not(:last-child) {
   border-bottom: 1px solid var(--stroke-weak);
}

.navbar__menu-list__item {
   padding: var(--spacing-1);
   text-align: center; /* Center the menu items */
}

.navbar__menu-list__item a {
   color: var(--text-strong);
   text-decoration: none;
   font-size: 18px;
}

.hamburger {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-self: flex-end;
   /* background-color: var(--fill); */
   margin: 10px;
   width: 30px;
   height: 20px;
   z-index: 1; /* Ensure it's on top of other content */
}

.hamburger span {
   display: block;
   width: 30px;
   height: 4px;
   background-color: var(--text-strong);
   transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar.open {
   display: flex;
   flex-direction: column;
}
/* Menu is shown when navbar has the 'open' class */
.navbar.open .navbar__menu-list {
   display: flex;
}

/* Hamburger icon animation */
.navbar.open .hamburger span:nth-child(1) {
   transform: rotate(45deg) translateY(11px);
}

.navbar.open .hamburger span:nth-child(2) {
   opacity: 0;
}

.navbar.open .hamburger span:nth-child(3) {
   transform: rotate(-45deg) translateY(-11px);
}

/* Footer styling */

.footer-text {
   padding: var(--spacing-1);
}
