*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;

   /* Adding color variables */
   --brand-color: #00ffff;
   --text-strong: #cef5f5;
   --text-weak: #8bcccc;
   --stroke-strong: #58a3a3;
   --stroke-weak: #2c7a7a;
   --background: #022929;
   --fill: #105252;
   --brand-background-text: #121212;

   /* Adding spacing variables */
   --spacing-1: 0.8rem;
   --spacing-2: 1.6rem;
   --spacing-3: 2.4rem;
   --spacing-4: 3.2rem;

   /* Adding font size variables */
   --heading-1: bold 4.8rem / 4.8rem "Lexend", sans-serif;
   --heading-2: bold 3.6rem / 3.6rem "Lexend", sans-serif;
   --heading-3: bold 2.7rem / 3.2rem "Lexend", sans-serif;
   --body: normal 2rem / 2.4rem "Lexend", sans-serif;
   --small: normal 1.5rem / 2rem "Lexend", sans-serif;
   max-width: 100%;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
   /* font-family: "Lexend"; */
   font: var(--body);
   background-color: var(--background);
   color: var(--text-strong);
   padding: var(--spacing-2) var(--spacing-1);
}

body > *:not(:first-child) {
   margin-top: var(--spacing-4);
}

.link-button {
   display: inline-block;
   padding: 10px 20px;
   background-color: var(--brand-color); /* Button background color */
   color: var(--brand-background-text); /* Text color */
   text-decoration: none; /* Remove underline from link */
   text-align: center;
   border-radius: var(--spacing-2); /* Round the corners of the button */
   transition: background-color 0.3s ease; /* Add transition effect on hover */
}

.link-button:hover {
   background-color: var(--fill); /* Darker background on hover */
}

a {
   color: inherit;
}
