.cta-to-contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-2);
}

.cta-to-contacts > p {
   padding: var(--spacing-1);
}

/* Footer styling */

.footer-text {
   padding: var(--spacing-1);
}
