.cta-to-projects {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-3);
   align-items: center;
}

.project-card-listing {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-2);
}

.project-card {
   display: flex;
   flex-direction: column;
   gap: var(--spacing-2);
   margin: 0 var(--spacing-2);
   border-radius: var(--spacing-1);

   /* Drop shadow */
   background-color: var(--background);
   overflow: hidden;
   filter: drop-shadow(0px 0px 10px white);
}

.project-card__picture {
   background-color: white;
}
.project-card__description {
   text-align: center;
   margin-bottom: var(--spacing-2);
   padding: 0 var(--spacing-1);
}
